---
import type { CollectionEntry } from "astro:content";
import ColoredText from "./ColoredText.astro";

export interface Props {
    release: CollectionEntry<"releases">["data"];
};

const { release } = Astro.props;
const youtubeLink = release.links.find(release => release.name.toLowerCase() === "youtube");

---
<section class="outer">
    <a class="cover-img" href={`/releases#${release.id}-release`}>
        <img src={release.imageSrc} alt="Album Artwork"/>
    </a>

    <section class="inner">
        <span class="release-name"><a href={`/releases#${release.id}-release`}>{release.name}</a></span>
        <span class="artists"><a href={`/releases#${release.id}-release`}>{release.artists}</a></span>
        {youtubeLink && <a href={youtubeLink.url} target="_blank" class="link"><img src="social/youtube.png"> <ColoredText class="youtube-link" textColor="#dd0000">Watch on Youtube</ColoredText></a>}
    </section>
</section>
<style>
    .outer {
        display: flex;
        // margin: 2rem 1rem;
    }

    section > img {
        width: clamp(2.5em, 40%, 5em);
        aspect-ratio: 1;
        background-color: black;
        align-self: center;
        margin-right: 1.5em;
    }
    
    .cover-img {
        display: inline-block;
        width: clamp(2.5em, 40%, 5em);
        aspect-ratio: 1;
        background-color: transparent;
        align-self: center;
        margin-right: 1.5em;
        overflow: hidden;
        transition: transform 0.5s ease;
    }

    .cover-img img {
        display: block;
        width: 100%;
        height: auto;
    }



    .inner > span, .inner > a {
        display: block;
    }

    .release-name {
        font-weight: 700;
    }

    .artists {
        font-weight: 400;
        color: #555;
    }

    .youtube-link {
        filter: saturate(85%);
        transition: 0.5s;
        font-size: 0.9em;
    }

    a:hover > .youtube-link {
        filter: saturate(110%);
    }

    a.link {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    a > img {
        width: 1.75em;
        display: inline;
        filter: saturate(95%);
        transition: 0.5s;
        margin-right: 0.33em;
    }

    a:hover > img {
        filter: saturate(110%);
        transform: translateY(-0.15em);
    }

    .cover-img:hover  {
        transform: scale(105%);
    }

    @media (prefers-color-scheme: dark) {
        .artists {
            color: #999;
        }

        .youtube-link {
            font-weight: 600;
        }
    }
</style>