---
import type { SocialLink } from '../Types';

export interface Props {
    links: SocialLink[];
    class?: string;
    before?: string;
    marginAmount?: string;
    marginAmountSmall?: string;
    marginLeft?: boolean;
    marginRight?: boolean;
}

const {
    class: className, 
    before, 
    links = [], 
    marginAmount = "1.5em", 
    marginAmountSmall = "1em", 
    marginLeft = false, 
    marginRight = true
} = Astro.props;
---
<div class:list={["wrap-social", className]}>
    {before && links.length > 0 && <div class="mobile"><p>{before}: </p></div>}
    <ul>
        {before && links.length > 0 && <li class="first"><p>{before}: </p></li>}
        {links.map(link => <li class:list={[{"marginRight": marginRight, "marginLeft": marginLeft}]}><a href={link.url} target="_blank"><img src={link.icon} alt={link.name} /></a></li>)}
    </ul>
</div>
<style define:vars={{marginAmount, marginAmountSmall}}>
    .wrap-social {
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* flex-wrap: nowrap; */
        flex-wrap: wrap;
        row-gap: var(--marginAmount);
        width: 100%;
    }

    .mobile {
        display: none;
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 1em;
        width: 100%;
    }

    @media screen and (max-width: 800px) {
        li p {
            display: none;
        }

        .mobile {
            display: block;
        }
    }

    li:not(.first).marginRight {
        margin-right: var(--marginAmount);
    }
    li:not(.first).marginLeft {
        margin-left: var(--marginAmount);
    }

    li p {
        font-weight: 700;
        font-size: 0.9em;
        margin-right: 1em;
    }

    a img {
        width: 2em;
        filter: saturate(95%);
        transition: 0.5s;
    }

    a:hover img {
        filter: saturate(120%);
        transform: translateY(-0.5em);
    }

    @media screen and (max-width: 800px) {
        a img {
            min-width: 1.5em;
        }

        .wrap-social {
            display: block;
        }

        li:not(:first-child).marginRight {
            margin-right: var(--marginAmountSmall);
        }
        li:not(:first-child).marginLeft {
            margin-left: var(--marginAmountSmall);
        }
    }
</style>