---
import { getCollection } from 'astro:content';
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
import "../styles/Base.css";

export interface Props {
	title: string;
	route?: string;
	noindex?: boolean;
}

const { title, route, noindex = false } = Astro.props;

const artists = await getCollection("artists");
const artistNames = artists.map(artist => artist.data.name).join(",");

const releases = await getCollection("releases");
const releaseNames = releases.map(release => release.data.name).join(",");
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logos/Logo Squared.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Fancy Spirits is an independent music label founded by a passionate artist collective. Our mission is to create a community that is dedicated to the field of electronic music, embracing all genres within it." />
		<meta name="author" content="Konrad Koschel" />
		<meta name="keywords" content={`Fancy Spirits,fancy,spirits,FancySpirits,fancyspirit,fancy spirit,FancySprits,Music Label,Independent,${artistNames},${releaseNames},Drum and Bass,Chill,Dubstep,House`} />
		<meta name="color-scheme" content="light" />
		{noindex && <meta name="robots" content="noindex">}


		<title>{title}</title>
	</head>
	<body>
		<NavBar route={route} />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>